body{
    font-family: Arial, sans-serif;
    background-image:linear-gradient(to right,blue,cyan);
    color: #333;
    height: 100vh;
}

.form-container {
    width: 350px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:40px;
    border: 1px solid #1fd8f9ff;
    border-radius: 8px;
    background-color: #e8d0d0ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}   
.form-container button{
    text-align:center;
    background-color: #058af7ff;
    border: none;
    border-radius: 50px;
    color: white;
}
h2{
    text-align:center;
}
.block{
    display:grid;
    justify-content:center;
}
input{
    border:1px solid blue;
    border-radius: 5px;
 }

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #f0f0f0;
    transform: translateY(-3px)
}