body {
    font-family: Arial;
    margin: 30px;
    background-image: linear-gradient(to right, rgb(93, 0, 255), rgb(0, 0, 0));
  
}
.custom-navbar {
    background-color: #343a40;
    color: white;
    padding: 15px;
    margin-top:5px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.custom-navbar h2{
    margin-left:10px;

}
.custom-navbar .btn-open{
    margin-right:20px;
    border-radius:30px;
}
.custom-navbar .btn-open .btn.btn-primary {
    background-color: #cdc5a2;
    color:#000;
    border-radius: 40px;
    display: flex;
    justify-self: end;
    margin-top: -50px;
}
.title{
    display: flex;
    justify-content: space-between;
    
}

.cards {
    display: flex;
    margin-left:10%;
    gap: 140px;
}

.card-total {
    background-color: #e6e0e0;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9);

}


.card-pending {
    background-color: #ffaa5b;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9);
}

.card-completed {
    background-color: #95ff8f;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9);
}

.card-overdue {
    background-color: #fc4848;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9);
}
.add-btn {
    display: inline-block;
    margin-left:10%;
    margin-bottom: -20px;
    text-decoration: none;
    font-weight: bold;
    transition: ease-in;
    color:#000;
    font-size: larger;
}
.add-btn:hover{
    transform:translateY(-8px);

}
.add-assignment .add{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-bottom: 20px;
}
.remainder{
    color:white;
}

.assignments-table {
    width: 80%;
    margin-left:10%;
    border-collapse: collapse;   /* IMPORTANT */
    margin-top: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9);
    
}

.assignments-table th,td{
    border: 2px solid #000;      /* Single border rule */
    padding: 10px;
    text-align: center;
}

.assignments-table th {
    background-color: #343a40;
    color: white;
}
.assignments-table tr,th{
    border:2px solid #000;

}


/* Status-based rows */
.overdue-row {
    background-color: #ea5364;
}
.overdue-row td{
    border:2px solid #000;
}
.future-row td{
    border:2px solid #000;
}
.future-row {
    background-color:rgb(232, 218, 110);
}
.submitted-row{
    background-color:rgb(136, 241, 169);

}
.submitted-row td{
     border:2px solid #000;
}

.today-row {
    background-color: #fff3cd;
}
.today-row td{
    border:2px solid #000;
}
.offcanvas-header{
    background-color:#343a40;
    color:white;
}
.offcanvas-body{
    background-color:#cdc5a2;
    font-weight: ebold;
}
.offcanvas-body span{
    font-weight: bold;
    

}
