body {
    font-family: Arial;
    margin: 30px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    background: #e0e0e0;
}

.pending {
    background: #fff3cd;
}

.completed {
    background: #d4edda;
}

.overdue {
    background: #f8d7da;
}

.add-btn {
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background: #f2f2f2;
}

.overdue-row {
    background-color: #f8d7da;
}

.today-row {
    background-color: #fff3cd;
}
